In [1]:
import findspark

In [2]:
findspark.init('/home/mukund/spark-2.1.0-bin-hadoop2.7/')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('agg').getOrCreate()

In [5]:
df=spark.read.csv('/home/mukund/as/sales_info.csv',inferSchema=True,header=True)

In [6]:
df.head(3)

[Row(Company='GOOG', Person='Sam', Sales=200.0),
 Row(Company='GOOG', Person='Charlie', Sales=120.0),
 Row(Company='GOOG', Person='Frank', Sales=340.0)]

In [7]:
df.printSchema()

root
 |-- Company: string (nullable = true)
 |-- Person: string (nullable = true)
 |-- Sales: double (nullable = true)

In [8]:
df.groupBy("company").mean().show()

+-------+-----------------+
|company|       avg(Sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [9]:
df.groupBy("company").sum().show()

+-------+----------+
|company|sum(Sales)|
+-------+----------+
|   APPL|    1480.0|
|   GOOG|     660.0|
|     FB|    1220.0|
|   MSFT|     967.0|
+-------+----------+

In [10]:
df.groupBy("company").count().show()

+-------+-----+
|company|count|
+-------+-----+
|   APPL|    4|
|   GOOG|    3|
|     FB|    2|
|   MSFT|    3|
+-------+-----+

In [16]:
df.agg({'Sales':'sum'}).show() #not all methods need groupBy call. For ex. sales of all companies. Note: dict is used here

+----------+
|sum(Sales)|
+----------+
|    4327.0|
+----------+

In [17]:
df.agg({'Sales':'mean'}).show()

+-----------------+
|       avg(Sales)|
+-----------------+
|360.5833333333333|
+-----------------+

In [18]:
df.agg({'Sales':'max'}).show()

+----------+
|max(Sales)|
+----------+
|     870.0|
+----------+

In [19]:
gd=df.groupBy("company")

In [21]:
gd.agg({'sales':'mean'}).show()#another method to run same things as above

+-------+-----------------+
|company|       avg(sales)|
+-------+-----------------+
|   APPL|            370.0|
|   GOOG|            220.0|
|     FB|            610.0|
|   MSFT|322.3333333333333|
+-------+-----------------+

In [23]:
from pyspark.sql.functions import countDistinct, avg,stddev

In [24]:
df.select(countDistinct('company').alias('number of companies')).show()

+-------------------+
|number of companies|
+-------------------+
|                  4|
+-------------------+

In [25]:
df.select(stddev('sales').alias('Standard Deviation')).show()

+------------------+
|Standard Deviation|
+------------------+
|250.08742410799007|
+------------------+

In [26]:
from pyspark.sql.functions import format_number

In [27]:
salesdf=df.select(stddev("sales"))

In [28]:
salesdf.show()

+------------------+
|stddev_samp(sales)|
+------------------+
|250.08742410799007|
+------------------+

In [29]:
salesdf.select(format_number('stddev_samp(sales)',3).alias('std')).show()

+-------+
|    std|
+-------+
|250.087|
+-------+

In [30]:
df.orderBy('company').show() #ascending

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   APPL|  Chris|350.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|   Mike|750.0|
|     FB|   Carl|870.0|
|     FB|  Sarah|350.0|
|   GOOG|  Frank|340.0|
|   GOOG|    Sam|200.0|
|   GOOG|Charlie|120.0|
|   MSFT|   Tina|600.0|
|   MSFT|    Amy|124.0|
|   MSFT|Vanessa|243.0|
+-------+-------+-----+

In [32]:
df.orderBy(df['company'].desc()).show() #for descending

+-------+-------+-----+
|Company| Person|Sales|
+-------+-------+-----+
|   MSFT|    Amy|124.0|
|   MSFT|   Tina|600.0|
|   MSFT|Vanessa|243.0|
|   GOOG|    Sam|200.0|
|   GOOG|  Frank|340.0|
|   GOOG|Charlie|120.0|
|     FB|  Sarah|350.0|
|     FB|   Carl|870.0|
|   APPL|   John|250.0|
|   APPL|  Linda|130.0|
|   APPL|  Chris|350.0|
|   APPL|   Mike|750.0|
+-------+-------+-----+