In [13]:
import findspark

In [14]:
findspark.init('/home/mukund/spark-2.1.0-bin-hadoop2.7')

In [15]:
import pyspark

In [16]:
from pyspark.sql import SparkSession #to work with spark frames, we need to start session

In [17]:
spark=SparkSession.builder.appName('Dataframes').getOrCreate()

In [18]:
df=spark.read.json('/home/mukund/as/people.json') #start jupyter in same dir and avoid writing full names

In [19]:
df.show() #replaces missing data with null automatically

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [21]:
df.columns #attribute

['age', 'name']

In [26]:
df.describe().show()#statistical summary of numeric columns

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [27]:
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)

In [28]:
data_schema=[StructField('age',IntegerType(),True),StructField('name',StringType(),True)]#eg. we are changing age to int type and whether it can be null or not (True means null)

In [29]:
final_struc=StructType(fields=data_schema)

In [30]:
df=spark.read.json('/home/mukund/as/people.json',schema=final_struc)

In [32]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df.select('age').show() #over here it returns a dataframe with a column

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [43]:
type(df['age'])#over here it returns a column object

pyspark.sql.column.Column

In [41]:
type(df.head(2)[0]) #selecting first row out of top 2 rows

pyspark.sql.types.Row

In [54]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [58]:
a=df.withColumn('newage',df['age']*3).show() #to create a new column. note we pass an actual column using df['age']

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    90|
|  19| Justin|    57|
+----+-------+------+

In [59]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [61]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [62]:
df.createOrReplaceTempView('people') #registered a temporary view to run queries

In [63]:
results=spark.sql("select * from people")

In [64]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [65]:
newresults=spark.sql("select name,age from people where age>20")

In [67]:
newresults.show()

+----+---+
|name|age|
+----+---+
|Andy| 30|
+----+---+